

header{
	background-image: url("../image/large.jpg");
	background-size:cover; 
	background-repeat: no-repeat;
	opacity: 0.9;
	
}
h1{
	padding-top: 10%;
	padding-bottom: 5%;

}

h1,h2{
	color: white;
	
}
h3{color: #64ABFF;}

h4{color: #7893AD;}
.logo{
	width: 40%;
	height: 10%;
	padding: 2%;
}

.logo-2{
	width: 45%;
	height: 15%;
	padding: 2%;

}
.fdo-2{
	background-color: #4A72B9;
	opacity: 0.9;
}
.btnn-1{
	background-color: #fff;
	position: relative;
	left: 50%;

}

.btnn-2{
	background-color: transparent;
	padding: 2%;
	border-radius: 2%;
	border: 2px solid #fff;
	color: #fff;
	float: left;
	margin-top: 20px;
	font-size: 1.5em;
}
.cir{
	width: 50%;
	height: 20%;
	box-shadow:1px 1px 10px;
	border-radius: 100%;
	color: #587EB7;
	background-color: #FFF; 
}

.pdg-2{/*es el padding de la flecha azul*/
	padding-left: 40%;
	
}
.pdg{ padding: 3%; }

.t-pdg{
	margin-top:4%; 
}

.icon-video:before {
  content: "\e011";
}

.frm{/*es la clase del formulario*/
	position: relative;
	top: -70px;
	left: 50%;
}
.fdo-3{/*es el fondo del col-6*/
	background-image: url("../image/sec-2.jpg");
	background-size: contain;
	background-repeat:no-repeat; 
	height: 50%;
	width: 50%;
}
#text-blk {
	color: black !important;
	font-size: 2em;
}
.fdo-4{
	background-color: #74A3DB;
}
.fdo-5{
	background-color: #000;
	opacity: 0.8;
}

.fdo-5 small{
	color: #fff;
}
